:root{
    --site-background: rgb(237, 237, 237) ;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    background-color: var(--site-background);
}

a {
    text-decoration: none;
}

img {
    user-select: none;
}


.site-page {
    background-color: var(--site-background);
    display: flex;
}

/* nav bar */

.nav-bar {
    padding-top: 30px;
}

.nav-bar__site-name {
    margin: 0;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
}

.navbar-menu {
    height: 100%;
    display: flex;
    align-items: center;

}

.navbar-list__li a {
    padding: 7px 10px;
    color: black;
    font-size: 17px;
}

.navbar-list__li a:hover {
    color: rgb(57, 102, 250);
    border-radius: 5px;
    font-weight: bold;

}

.mobile-menu-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* mobile menu */

.navbar-menus-mobile {
    position: fixed;
    background-color: rgb(9, 103, 165);
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: left;
    padding: 0;
    width: 250px;
    transform: translatex(-300px);
    transition: all 0.3s;
    z-index: 999;
}

.mobile-navbar-list__ul {
    width: 100%;
    padding: 0;
}

.mobile-navbar-list__li a {
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: white;
}

.mobile-navbar-list__li a:hover {
    background-color: rgb(255, 217, 0);
    color: #000;
}

.mobile-navbar-btns {
    width: 100%;
    text-align: center;
}




/* header */

.header-home {
    padding-top: 80px;
}

.header-home__left-off::before {
    content: '- ';
}

.header-home__left-title {
    margin: 20px 0;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1px;
}

.header-home__left-text {
    margin: 40px 0;
}

@media only screen and (max-width:992px) {
    .header-home__left-title {
        font-size: 40px;
    }
}

.home-btn {
    padding: 15px 12px;
    margin: 5px 5px;
}

/* header pricing */

.pricong-count {
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.178);
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
}

.pricong-count__center {
    transform: scale(1);
}

@media only screen and (max-width:992px) {
    .pricong-count {
        transform: scale(1);
    }
}

.pricong-count:hover {
    transform: scale(1.05);
    z-index: 5;
}

.pricong-count__title {
    font-size: 30px;
    font-weight: bold;
}

.pricong-count__price {
    margin-top: 20px;
    position: relative;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 0 0 20px rgba(26, 26, 26, 0.274);
}


.pricong-count__price::before {
    content: '$';
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: -14px;
    top: 0;
}

.pricong-count__price::after {
    content: '/month';
    font-size: 18px;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    left: inherit;
}

.price-btn {
    width: 100%;
    margin-top: 60px;
}

/* about us */

.about-img {
    width: 80%;
}